 /*style all the elements*/
 .border{
	border:5px  grey;
	background-color: grey;
	text-align: right;
	color:white;
	height: 10vh;
	width:459px;
	font-size:50px;
	margin-top: 30px;
}
.numbers{
	border:2px solid grey;ss
	background-color: #b0b0b0;
	text-align: center;
	height: 7vh;
	width: 120px;
	font-size:20px;
	padding-right: 20px;
}
.symbols{
	border:1px solid grey;
	background-color: orange;
	width:99px;
	height: 7vh;
	text-align: center;
	font-size: 20px;
	color:white;
}
.container{
	margin-left: 500px;
	margin-top: 100px;

}
#dot{
	font-size: 20;
	font-weight: 5000px;
}

