.jumbotron{
	background-image: url(../images/nospace.jpg);
	background-size:contain;
	color: turquoise;
	margin:100px;
}
.container{
	height:20px;
	margin-top: 25px;
	width: 100%;
}
 div>p{
 	color:teal;
 	font-weight: bolder;
 	font-size:20px;
 }
 .navbar-home {
    background-image: url(../images/nospace.jpg);
    background-repeat: repeat-y;
    background-position: left;
    background-attachment: fixed;
    border-color: none;
    border-radius: 0px;
    border: none;
    margin-bottom: 0px;
}
 .navbar-default .navbar-brand {
    color: #286090;
}
.navbar-default .navbar-nav > li > a{
	color:tomato;
}
body{
	background-image: url(../images/unnamed.jpg);
	background-position: center;
	display:inline;
}
