h1{
font-variant:normal;
			font-family: sans-serif; 
			font-weight:bolder;
			font-size: 20px;
			text-align: center;
			color: red;
			border:groove;
			border-radius: 5px;
}
.about{
				text-indent: 1.5px;
				font-style: italic;
				font-family:cursive;
				color: pink;
				font-weight: bolder;
				font-size:larger;
				letter-spacing: 1px;
}

		
				#me em{
					color: blue;
}
					ol.list{
						list-style-type: lower-greek;
						list-style-position: inside;
						color:red;
}

						.about{border:5px  solid green;
							padding: 5px;
							margin: 5pt;
							width: auto;
							height: auto;
							background:url(../images/images.jpg) #fff no-repeat;
							background-size: cover;
						}